<!DOCTYPE html>
<html>
  <head>
    <title>Contact</title>
      style
        include style.css
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
  </head>
  <body>
    <nav>
      <div class="logo"><h3>Education Festival</h3></div>
      <div class="links">
        <a href="/">Home</a>
        <a href="/Register">Register</a>
        <a href="/Login">Login</a>
        <a href="/Contact_Us">Contact Us</a>
      </div>
    </nav>
    <div class="about">
      <form action="/contact" method="post" class="reg-form">
        <h1>Contact Now</h1>
        <br>
        <input name="name" required placeholder="Enter your name" type="text" class="form-control">
        <input name="email" required placeholder="Enter your Email" type="email" class="form-control">
        <input name="user_name" required placeholder="Enter your Username" type="number" class="form-control">
        <input name="address" required placeholder="Enter your Address" type="text" class="form-control">
        <textarea name="desc" id="" placeholder="Enter your description" cols="30" rows="5" class="form-control"></textarea>
        <button class="form-control" type="submit">Contact</button>
      </form>
    </div>
  </body>
</html>