<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
      style
        include style.css
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="about hundred-per">
      <h1>ERROR!</h1>
      <br>
      <h3 class="font-pop">Something going wrong</h3>
      <br>
      <br>
      <h2 class="font-pop">#{msg}</h2>
      <div class="error-btn">
        <a href="#{href}"><button class="back">#{btn_content}</button></a>
        <a href="/"><button class="back">Back to home</button></a>
      </div>
      
    </div>
  </body>
</html>