<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
      style
        include style.css
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
  </head>
  <body>
    <nav>
      <div class="logo"><h3>Education Festival</h3></div>
      <div class="links">
        <a href="/">Home</a>
        <a href="/Register">Register</a>
        <a href="/Login">Login</a>
        <a href="/Contact_Us">Contact Us</a>
      </div>
    </nav>
    <div class="about">
      <h1>Education Festival</h1>
      <p>Lorem ipsum dolor, sit amet, consectetur adipisicing elit. Ex vel neque nulla alias hic expedita quo, velit impedit quam ipsum fugiat eligendi laboriosam quisquam dicta minima voluptates nostrum quod. Dolorem possimus, autem, ipsam facere architecto minus in enim tenetur sequi ducimus earum quaerat magni accusamus temporibus corrupti eos optio, tempore. Lorem ipsum dolor, sit amet, consectetur adipisicing elit. Doloremque neque in maxime commodi, odit similique, tempora corporis obcaecati magni beatae sequi exercitationem suscipit placeat nemo? Lorem, ipsum dolor sit, amet consectetur adipisicing elit. Dolorem delectus quidem modi nemo ea quos minus, ab culpa sunt necessitatibus voluptatem, enim nostrum laborum numquam? Lorem ipsum dolor sit amet consectetur adipisicing, elit. Dolorum perferendis blanditiis totam vero, aliquid. Adipisci harum dolorum voluptatem architecto similique, dignissimos ducimus delectus eveniet quo animi, nisi tempora non. Deserunt est, amet nobis ipsa reiciendis.</p>
    </div>
  </body>
</html>